.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif; /* this statement for the entire page says that Inter will be 
                                            the default font if another font is not specifically mentioned; 
                                            brief says "for Inter, use Arial as a fallback and use the 
                                            generic sans-serif family in case the user doesn’t have either 
                                            of the other fonts" */
  font-size: 16px;
  line-height: 20px;
}
